<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TeachurBuddy</title>
</head>
<body>
  <div class="container">
    <form action="/stripetoken?amount=999&currency=cad" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_tzcJ5q8ABVzm88a0Ew8Tp6WS"
        data-amount="999"
        data-name="enola.ca"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="cad">
      </script>
    </form>
    <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_AJSsdAbBRMXOzblgubeeRFapxed8YLTY&scope=read_write" class="stripe-connect"><span>Connect with Stripe</span></a>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="../main.js"></script>
</body>
</html>
